<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="input" href="/tabs/input">
      <ion-icon aria-hidden="true" name="document-text-outline"></ion-icon>
      <ion-label>Input</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report" href="/tabs/report">
      <ion-icon aria-hidden="true" name="stats-chart-outline"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
